;
; mqtt_conn_log.conf - for supervisord configuration file
;
; install
;     $ pwd
;       (check your scrpt path...)
;     $ sudo cp mqtt_conn_log.conf.sample /etc/supervisor/conf.d/mqtt_conn_log.conf
;     $ sudo vi /etc/supervisor/conf.d/mqtt_conn_log.conf
;       (fix path, etc...)
;     $ sudo supervisorctl reread
;     $ sudo supervisorctl add mqtt_conn_log
;     $ sudo supervisorctl status
;     mqtt_conn_log                  RUNNING    pid 8192, uptime 0:00:30
;
; see also
;     Supervisor: A Process Control System
;     http://supervisord.org/
;
[program:mqtt_conn_log]
command         = sh -c 'sudo tcpdump -l -n -i eth0 "tcp[13] & 18 == 18 && !(host 1.2.3.4)" 2>/dev/null | HOME=/home/username /usr/bin/ruby ./mqtt_conn_log.rb'
directory               = /home/username/work/mqtt_conn_log/
user                    = username
numprocs                = 1
autostart               = true
autorestart             = true
redirect_stderr         = true
stdout_logfile          = /home/username/work/mqtt_conn_log/log.txt
startsecs               = 7
startretries            = 10
stdout_logfile_maxbytes = 10MB
stdout_logfile_backups  = 1
